body {
  font-family: "Roboto", sans-serif;
  background-image: url(../imgs/bg_img.png);
  background-size: cover;
}

.container {
  width: 1028px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_text {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #fff;
  text-transform: uppercase;
}

.logo_text_special {
  font-size: 18px;
  line-height: 18px;
}

.logo_text_wrapper {
  display: flex;
  flex-direction: column;
}

.body_text {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.contacts_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 20px;
}

.main_content_row {
  display: flex;
  justify-content: space-between;
}

.main_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}


.hover_container {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 166px;
  padding: 12px 16px;
  width: 300px;
  background-color: #f26522;
  box-sizing: border-box;
  display: none;
}

.hover_container_text {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.hover_container_text_special {
  font-size: 20px;
  line-height: 20px;
}

.btn {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding: 0px;
  border: none;
  background-color: #f26522;
}

.btn::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 12px;
  margin-left: 8px;
  background-image: url(../imgs/Arrow.svg);
}

.main_link:hover > p {
  color: #f26522;
}

.main_link:hover > .hover_container {
  display: flex;
}


